@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&family=Work+Sans:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --heading: rgb(0 10 45);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --overlay: #3e64ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --icons-bg: rgba(144, 172, 209, 0.2);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
    font-size: 65%;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600px;
}

h2 {
    color: rgb(44, 44, 44);
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 2.5rem;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--bg);
}

/* --------------------- Header Section  -----------------------------------*/


.header {
    padding: 0 5rem;
    height: 7rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header .logo {
    height: 8rem;
    margin-left: 10rem;
}

.navbar-lists {
    display: flex;
    gap: 5rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--overlay);
    transition: all 0.2s linear;
}

/* --------------------- About Section  -----------------------------------*/

.about-section {
    background-color: var(--bg);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.common-heading {
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 15rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.logo-img {
    width: 100%;
    background-color: var(--bg);
}

